
.input-default-title {
  width: 100%;
  margin: 5px 0 20px 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  font-family: 'klee',serif;
}

.input-default-text {
  width: 100%;
  margin-top: 5px;
  height: 180px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  font-family: 'klee',serif;
}

.select-box {
  width: 100%;
}

.guide-text{
  font-size: 14px;
  color: #a22041;
}