<div class="user__wrapper">
  <h2 class="user__hedding">
    <%= @user.nickname + "さんのマリアージュ一覧"%>
  </h2>
  <div class="user__card">
    <%= render partial: 'mariages/mariage', collection: @mariages %> 
  </div>
</div>