<%# <main class="main">
  <div class="inner"> %>
    <%# <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    <%# </div>  %>

    <div class="top-image">
      <%= image_tag "mariasyu-top.jpeg" %>
      <div class='top-logo'>
        <%= image_tag "mariasyu-logo.png", class:"logo-image" %>
      </div>
    </div>
  <%# </div>
</main> %>
