<%# <main class="main">
  <div class="inner"> %>
    <%# <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    <%# </div>  %>

    <div class="top-image">
      <%= image_tag "mariasyu-top-0acb78d13fcfd7543f9f3b74aee8fcc9b824668dd1ea2c160bcfea4e53871de4" %>
      <div class='top-logo'>
        <%= image_tag "mariasyu-logo-94f1e2b9674a0f9bde79de28c025930803fa5a5000d6fd2cbf83f6f62d53e6cd.png", class:"logo-image" %>
      </div>
    </div>
  <%# </div>
</main> %>
