<div class="user__wrapper">
  <h2 class="user__hedding">
    <%="全ての投稿一覧"%>
  </h2>
  <%= will_paginate @mariages,previous_label: '<', next_label: '>', inner_window: 1 %>

  <div class="user__card">
    <% @mariages.each do |mariage| %>
      <%= render partial: "mariages/mariage", locals: { mariage: mariage } %>
    <% end %>
  </div>
  
  <%= will_paginate @mariages,previous_label: '<', next_label: '>', inner_window: 1 %>
</div>