/* 
トップページ */

.top-image {
  width: 100vw;
  position: relative;
  margin-top: 0;
}

.top-logo {
  position: absolute;
  top:0;
  left: 50px;
  width: 40%;
}

.logo-image{
  width: 80%;
  margin-top: 10%;
  margin-left: 5vw;
}

/* マリアージュの説明 */
.mariage-mean{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 150px 0;
  background-color: #f5f5f5;
  box-sizing: content-box;
}
.mean-image-ge,
.mean-image-syu{
  width: 30%;
  margin: 0 5vw;
}
.mean-image-ge{
  box-shadow: -30px 30px 0 rgba(158,214,211,0.5);
}
.mean-image-syu{
  box-shadow: 30px 30px 0 rgba(158,214,211,0.5);
}
.top-text{
  /* width: 30%; */
  /* background-color: white; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: inline;
  margin: auto 0;
  
}
.color-change{
  font-weight: bold;
  color: #00ada9;
}


/* 新着投稿一覧 */
.mariage-contents {
  background-color: #f5f5f5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10vh 0;
}
.mariage-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #00ada9;
  font-weight: bold;
}
.limit{
  font-size: 2vh;
  color: gray;
}
.mariage-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mariage-lists>.list {
  width: 37vh;
  padding: 1vw;
  /* background-color: #FFF; */
}


.mariage-img-content {
  position: relative;
}

.images {
  width: 100%;
  height: 33vh;
  object-fit: cover;
}
.images:hover{
  opacity: 0.5;
}
.mariage-info {
  color: black;
  padding: 1vw;
}

.mariage-name {
  font-size: 2.5vh;
}

section {
  max-width: 300px;
  margin: 0 auto;
}

a.link_btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00ada9;
  box-sizing: border-box;
  width: 20vw;
  height: 50px;
  padding: 0 6% 0 12%;
  color: #00ada9;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
}
a.link_btn:hover {
  background: #9ed6d3;
  color: #fff;
  border: none;
  font-size: 18px;
}
a.link_btn:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 8px;
  border-color: transparent transparent transparent #00ada9;
  position: absolute;
  top: 50%;
  left: 6%;
  margin-top: -7px;
}
a.link_btn:hover:before {
  border-color: transparent transparent transparent #fff;
}