.search-menu {
  max-width: 200px;
}

.search-menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

/* label {
  display: block;
  margin: 0 0 4px 0;
  padding : 15px;
  line-height: 1;
  color :#00ada9;
  cursor :pointer;
} */

.checkbox {
  display: none;
}

.menu ul {
  margin: 0;
  padding: 0;
  /* background :#f4f4f4; */
  background-color: rgba(160,216,239,0.5);
  list-style: none;
}

.menu li {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li {
  height: 40px;
  opacity: 1;
}
.list-width{
  width: 250px;
  display: block;
  margin: 0 0 4px 0;
  padding : 15px;
  line-height: 1;
  cursor :pointer;
  position: absolute;
  right: 10px;
  top: 70px;
}

.pull-down{
  text-align: center;
  z-index: +1;
}
.pull-down-list:hover{
  background-color: rgba(211,211,221,0.5);
  font-size: 1.1em;
}